.title {
    position: relative;
}

.title::after {
    content: "Products";
    font-size: 10px;
    position: absolute;
    top: 5px;
    right: 42%;
    color: #98989a
}

.list {
    border: 1px solid #e4e4e7;
}

.activeLink {
    background-color: #ffd400;
}