<section class="container">
    <div class="mt-5">
        <owl-carousel-o [options]="customOptions">
            <ng-template carouselSlide>
                <div class="pe-3 position-relative">
                    <div class="slides d-flex justify-content-center">
                        <img src="assets/imgs/img1.jpg" class="d-block"
                            alt=""></div>
                    <p >hello</p>
                    <p>66$</p>
                </div>
            </ng-template>
            <ng-template carouselSlide>
                <div class="pe-3 position-relative">
                    <div class="slides d-flex justify-content-center">
                        <img src="assets/imgs/img1.jpg" class="d-block"
                            alt=""></div>
                    <p >hello</p>
                    <p>66$</p>
                </div>
            </ng-template>
            <ng-template carouselSlide>
                <div class="pe-3 position-relative">
                    <div class="slides d-flex justify-content-center">
                        <img src="assets/imgs/img1.jpg" class="d-block"
                            alt=""></div>
                    <p >hello</p>
                    <p>66$</p>
                </div>
            </ng-template>
            <ng-template carouselSlide>
                <div class="pe-3 position-relative">
                    <div class="slides d-flex justify-content-center">
                        <img src="assets/imgs/img1.jpg" class="d-block"
                            alt=""></div>
                    <p >hello</p>
                    <p>66$</p>
                </div>
            </ng-template>
            <ng-template carouselSlide>
                <div class="pe-3 position-relative">
                    <div class="slides d-flex justify-content-center">
                        <img src="assets/imgs/img1.jpg" class="d-block"
                            alt=""></div>
                    <p >hello</p>
                    <p>66$</p>
                </div>
            </ng-template>
        </owl-carousel-o>
    </div>
</section>
